body{
    background-color: black;
}

.jumbotron{
    background-image: url(../images/modern-design-1157029.jpg);
    background-image: url(../images/backdrop.gif);
    background-size: 100%;
}

.btn{
    margin-right: .5%;
}

img{
    height: 200px;
    width: 200px;
    border: 1px dotted #007bff;
    border-radius: 10%;
    }

.gifDiv{
    float: left;
    margin-right: .1%;
}

#gifPause{
    margin-top: .5rem;
}

@font-face {
    font-family: "TooneyNoodleNF";
    src: url("TooneyNoodleNF.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 4.5rem;
}

.display-4{
	font-family: "TooneyNoodleNF";
	font-size: 150px;
	margin-top: .5rem;
    margin-bottom: .5rem;
    color: #0ff;
}

@font-face {
    font-family: "Subscribe";
    src: url("Subscribe.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 4.5rem;
}

.lead{
	font-family: "Subscribe";
	font-size: 20px;
	margin-top: .5rem;
    margin-bottom: .5rem;
    color: rgb(5, 114, 114);
}
.btn {
    font-family: "Subscribe";
}
#add-gif{
    font-family: "Subscribe";
}
#gif-form{
    font-family: "Subscribe";
    font-size: 20px;
    color: #0ff;
}
